@import "partials/variables";

html {
  height: 100%;
  background: url("./../img/899145.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: $text-font;
  font-size: em(18px);
  color: $text-color;
  background-color: $body-background-color;
  height: 100%;
}

.app {
  height: 100%;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.panel {
  opacity: 0.9;
  transition: opacity .6s ease-in;
  .input-group {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  input {
    opacity: 0.5;
    transition: opacity 1s;
  }
  input:focus {
    opacity: 1;
    outline: none !important;
    box-shadow: none !important;
    border-color: $tertiary-color;

  }

  .results input {
    opacity: 1;
  }
  button {
    width:80px;
    text-transform: uppercase;
    background-color: $tertiary-color;
    border-color: $tertiary-color;
    transition: background-color .8s;
  }
  button:hover {
    background-color: $secondary-color;
    border-color: $secondary-color;
  }
  button:active, button:active:hover {
    background-color: $secondary-color;
    border-color: $secondary-color;
  }
  button:focus, button:focus:hover {
    background-color: $secondary-color;
    border-color: $secondary-color;
    outline: none !important;
    box-shadow: none !important;
  }
  button:disabled, button:disabled:hover, button:disabled:active, button:disabled:focus {
    background-color: $disabled;
    border-color: $disabled;
  }
}
.panel:hover {
  opacity: 1;
}

.panel-info {
  .panel-heading {
    background-color: $primary-color;
    color: $secondary-color;
    border-color: $secondary-color;
  }
  border-color: $secondary-color;

}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: $secondary-color;
  font-size: 8px;
  margin: -5px auto;
  margin-bottom: 35px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

